<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Edward, nice to meet you!</h2>
      <p class="subtitle subtitle--light">

        Edward Deaver is a Computer Science graduate of Le Moyne College. He is a CS major  working to merge computer science and art to create amazing experiences. My professional goals are to run my own right-to-repair, eviromentally focused lighting studio. I want to work with passionate people who are not afraid of trying new innovative approaches and are not afraid of failure and what can be learned from that.
      </p>
      <p> My skills include Arduino, lighting, openFrameworks, Python, Editing.
      </p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>